OPENAI_API_KEY=

# Opik Configuration
OPIK_API_KEY=
OPIK_PROJECT_NAME=
OPIK_WORKSPACE=
OPIK_URL_OVERRIDE=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# MongoDB Configuration
MONGODB_HOST=
MONGODB_PORT=
MONGODB_DATABASE=